.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-style {
  list-style: none;
  padding: 10px;
}

p, span {
  margin: 0px;
  padding: 0px;
}

li {
  padding: 10px 10px 40px 10px;
  border: 1px dotted darkgrey;
}

li:nth-of-type(odd) {
  background-color: rgb(236, 230, 230);
}

.book-details {
  padding: 10px;
  display: block;
}

.book-title {
  color: blue;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  text-decoration: underline;
}

form {
  padding: 10px 0 10px 0;
}

.no-info {
  font-style: italic;
  color: grey;
}